# services:
#   postgres:
#     image: 'postgres:latest'
#     environment:
#       - 'POSTGRES_DB=mydatabase'
#       - 'POSTGRES_PASSWORD=secret'
#       - 'POSTGRES_USER=myuser'
#     ports:
#       - '5432'

version: '3.8'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: kostkita
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  auth-service:
    build: ./auth-service
    ports:
      - "8081:8081"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/kostkita
      JWT_SECRET: rahasia123  # Ganti dengan secret kuat

  transaction-service:
    build: ./transaction-service
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - auth-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/kostkita
      AUTH_SERVICE_URL: http://auth-service:8081
      JWT_SECRET: rahasia123

volumes:
  pgdata: