version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-kostavows
    restart: unless-stopped
    environment:
      POSTGRES_DB: kostkita
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "user", "-d", "kostkita"]
      interval: 5s
      timeout: 5s
      retries: 10

  auth-service:
    build: ./auth-service
    container_name: auth-service
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/kostkita
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      JWT_SECRET: rahasia12345678901234567890
    depends_on:
      postgres:
        condition: service_healthy

  transaction-service:
    build: ./transaction-service
    container_name: transaction-service
    restart: unless-stopped
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/kostkita
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      JWT_SECRET: rahasia12345678901234567890
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgdata: