name: Build & Push Microservices
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push auth-service
        run: |
          cd auth-service
          mvn -B clean package -DskipTests
          docker build -t oktarian1322/kostavows-auth:latest .
          docker push oktarian1322/kostavows-auth:latest

      - name: Build & Push transaction-service
        run: |
          cd transaction-service
          mvn -B clean package -DskipTests
          docker build -t oktarian1322/kostavows-transaction:latest .
          docker push oktarian1322/kostavows-transaction:latest